<!doctype html>
<html ng-app="TapsAdmin">
<head>
    <meta charset="utf-8">
    <title>Taps Manage</title>

    <link href="~/Areas/TapsAdmin/Css/style.css" rel="stylesheet" />    

    <script src="~/assets/js/jquery-2.1.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>

    @* custom angular *@
    <script src="~/assets/angular-1.2.9/angular.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-cookies.js"></script>
    <script src="~/assets/angular-1.2.9/ngDraggable.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-route.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-sanitize.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.10.3.min.js"></script>

    @* custom 3rd party *@
    <script src="~/assets/js/toastr.min.js"></script>
    <script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    
    <script src="~/Areas/TapsAdmin/app/app.js"></script>
    <script src="~/Areas/TapsAdmin/app/utils.js"></script>
    <script src="~/Areas/TapsAdmin/app/route.js"></script>
    <script src="~/Areas/TapsAdmin/app/services.js"></script>

    <script src="~/Areas/TapsAdmin/app/createDialog.js"></script>
    <script src="~/Areas/TapsAdmin/app/appInterceptor.js"></script>
    <script src="~/Areas/TapsAdmin/app/directives/ng-really.js"></script>
    <script src="~/Areas/TapsAdmin/app/angular-local-storage.min.js"></script>  
    <script src="~/js/jquery.hashchange.min.js"></script>
    <script src="~/js/jquery.easytabs.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tab-container').easytabs();
        });
    </script>

</head>
<body>
    <div class="main-body">
        <div class="padding">
            <div class="logo"> <img src="~/Areas/TapsAdmin/Img/logo.png" /> </div>
            <div class="welcome">
                <div class="welcomeMsg">
                    <label>Welcome, @User.Identity.Name.</label>
                </div>
                <a class="back" href="">Back to TAPS site</a><a class="back" href="/TapsAdmin/TapsManage/Logout">Logout</a>
            </div>
            <div class="searchbar">
                <input type="text" class="textinput" />
                <div class="styled-select slate">
                    <select>
                        <option>Crieteria</option>
                        <option>Crieteria1</option>
                        <option>Crieteria2</option>
                    </select>
                </div>
                <button class="btnSearch">SEARCH</button>
                <a href="#" class="remark">Remarks</a>
                <a href="#" class="help">Help</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_bottom"> </div>
        <div class="body-padding">
            <div class="disp">
                <ul>
                    <li class="disp-title">Display per page</li>
                    <li><a href="#">20</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">All</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
</body>
</html>