@{
    ViewBag.Title = "OrderInvoiceReport";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="col-lg-12" id="rptPreview">
    <div class="box">
        <div class="box-header">
            <h2><i class="fa fa-edit"></i>Order Invoice Report</h2>
            <div class="box-icon">
                <a href="form-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content" id="rptViewer">
            @{ Html.RenderPartial("_DocumentViewer"); }
        </div>
    </div>
</div>
