@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div ng-controller="SampleCtrl">
    <div class="row">
        <div class="login-box">
            <h2>Reset Password</h2>
            <form class="form-horizontal" name="LoginForm">
                <fieldset>

                    <input class="input-large col-xs-12" name="Password" id="Password" ng-model="model.Password" type="password" placeholder="New Password" ng-required="true"/>

                    <div class="clearfix"></div>
                    <input class="input-large col-xs-12" name="ConfirmPassword" id="ConfirmPassword" ng-model="model.ConfirmPassword" type="password" placeholder="Please Confirm Password" ng-required="true" />
                    <div class="clearfix"></div>

                </fieldset>
                @*<button type="submit" ng-disabled="LoginForm.$invalid" ng-click="Login(event,LoginForm)" class="btn btn-primary col-xs-12">Login</button>*@
                <button type="submit" ng-disabled="LoginForm.$invalid" class="btn btn-primary col-xs-12" ng-click="Reset()">Reset</button>

            </form>
            <hr>
        </div>
    </div>
</div>
<script src="~/app/controllers/Account/ForgotPassword.js"></script>

