@{
    ViewBag.Title = "PaymentTransaction";
    Layout = "~/Areas/FrontTaps/Views/Shared/_Layout.cshtml";
}

<div ng-controller="PaymentTransactionMgmtCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-edit"></i>Payment Transaction</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box-content">
                                <div class="col-lg-8">

                                </div>
                                <div class="col-lg-1">
                                    <h4>Search:</h4>
                                </div>
                                <div class="col-lg-3">
                                    <input id="Search" type="text" maxlength="50" class="form-control" ng-model="SearchText5" ng-enter="filter(SearchText5)" ng-focus="filter(SearchText5)" ng-blur="filter(SearchText5)">
                                </div>
                                <br /><br />

                                <table class="table table-striped table-bordered table-condensed bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th style="width:3%">No</th>
                                            <th style="width:7%">Payment Method</th>
                                            <th style="width:10%">Transaction Id</th>
                                            <th style="width:8%">Ref No</th>
                                            <th style="width:8%">Amount</th>
                                            <th style="width:8%">Settle Amount</th>
                                            <th style="width:20%">Description</th>
                                            <th style="width:6%">Status</th>
                                            <th style="width:15%">Error Description</th>
                                            <th style="width:7%">Order No</th>
                                            <th style="width:13%">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="o in filtered = (list1| filter:searchFilter1:strict) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td>{{o.PaymentMethod}}</td>
                                            <td>
                                                {{o.TxnId}}
                                            </td>
                                            <td>
                                                {{o.RefNo}}
                                            </td>
                                            <td>
                                                {{o.TxnCur}}&nbsp;
                                                {{o.TxnAmt}}
                                            </td>
                                            <td>
                                                {{o.SettlementCur}}&nbsp;
                                                {{o.SettlementAmt}}
                                            </td>
                                            <td>
                                                {{o.TxnDesc}}
                                            </td>
                                            <td>
                                                <span ng-if="o.TxnStatus=='00'">Success</span>
                                                <span ng-if="o.TxnStatus=='01'">Fail</span>
                                                <span ng-if="o.TxnStatus=='99'">Pending</span>
                                            </td>
                                            <td>
                                                {{o.ErrDesc}}
                                            </td>
                                            <td>
                                                {{o.OrderId}}
                                            </td>
                                            <td>
                                                {{o.CreatedDate}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row show-hide-animation">
                                    <div class="col-md-12">
                                        <pagination page="currentPage" class="pull-right" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" data-boundary-links="true"></pagination>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/app/controllers/PaymentTransaction/PaymentTransaction.js"></script>