@{
    ViewBag.Title = "MotorEclaim";
    Layout = "~/Views/Shared/_OnlyLayout.cshtml";
}

<div>
    <div class="main-body" id="body">
        <div class="body-padding">
            <div class="body-part">
                <div class="row">
                    <div class="green-box">
                        <div class="title-block"><h3>MOTOR E-CLAIMS</h3></div>
                        <form class="form">
                            <div class="detail-block">
                                <div class="wishlist-wrap" align="center">
                                    <img src="~/Img/Motor1.png" style="width:60%" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .body-padding {
        padding: 0px 0px 0px 0px !important;
    }
</style>