<table class="table table-striped table-bordered table-condensed bootstrap-datatable datatable">
    <thead>
        <tr>
            <th style="width:10%;text-align:center;">No</th>
            <th style="text-align: center;">Model</th>
            <th style="text-align: center;">Trim</th>
            <th style="width: 10%; text-align: center;">Sequence</th>
            <th style="width: 10%; text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="o in filtered = (list1| filter:searchFilter1:strict) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <td style="text-align: center;">
                {{$index+1}}
            </td>
            <td>
                {{o.ModelName}}
            </td>
            <td>
                {{o.TrimName}}
            </td>
            <td>
                {{o.Seq}}
            </td>

            <td class="center">
                <a href="#" class="btn btn-info" ng-click="FetchModelTrimById(o)" title="Edit" data-rel="tooltip">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger" ng-really-message="Are you sure, you want to Delete this Record ?" ng-really-click="DeleteModelTrim(o)" title="Delete" data-rel="tooltip">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="row show-hide-animation">
    <div class="col-md-12">
        <pagination page="currentPage" class="pull-right" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" data-boundary-links="true"></pagination>
    </div>
</div>
