
@{
    ViewBag.Title = "ModelTrimEngineTransmissionMgmt";
    Layout = "~/Areas/FrontTaps/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ModelTrimEngineTransCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-edit"></i>ModelTrimEngineTransmission Management</h2>
                    <div class="box-icon">
                        <a href="form-elements.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <form role="form"
                          id="form"
                          name="form"
                          class="form-horizontal"
                          novalidate
                          ng-submit="formSubmit()">
                        <div class="form-group">
                            <label class="control-label">Model Name</label>
                            <div class="input-group col-sm-4">
                                <select id="ModelData" name="Model" ng-model="model.idModel" class="form-control" ng-required="true" ng-change="GetAllStateByCountry(model.idCountry)">
                                    <option value="">-- Select Model --</option>
                                    <option ng-repeat="o in Country" value="{{o.id}}">{{o.Country}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Trim Name</label>
                            <div class="input-group col-sm-4">
                                <select id="TriName" name="TriName" ng-model="model.idTrim" class="form-control" ng-required="true">
                                    <option value="">-- Select Trim --</option>
                                    <option ng-repeat="o in lstState" value="{{o.id}}">{{o.Trim}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Engine Name :-</label>
                            <div class="input-group col-sm-4">
                                <select id="Engine" name="Engine" ng-model="model.idEngine" class="form-control" ng-required="true">
                                    <option value="">-- Select Engine --</option>
                                    <option ng-repeat="o in lstState" value="{{o.id}}">{{o.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Transmission Name :-</label>
                            <div class="input-group col-sm-4">
                                <select id="Transmission" name="Transmission" ng-model="model.idTransmission" class="form-control" ng-required="true">
                                    <option value="">-- Select Engine --</option>
                                    <option ng-repeat="o in lstState" value="{{o.id}}">{{o.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <br />
                        <div class="form-actions">
                            <button type="button" class="btn btn-primary" ng-disabled="!form.$valid" ng-click="CreateModelEngineTransmission(model)">Save</button>
                            <button type="reset" class="btn" ng-click="Reset()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span>ModelTrimEngineTransmission Management List</h2>
                    <div class="box-icon">
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="col-lg-8">
                    </div>
                    <div class="col-lg-1">
                        <h4>Search :</h4>
                    </div>
                    <div class="col-lg-3">
                        <input id="Search" type="text" maxlength="50" class="form-control" ng-model="model.SearchText5" ng-change="BlankSearch(model.SearchText5)" ng-enter="filter(model.SearchText5)" ng-focus="filter(SearchText5)" ng-blur="filter(model.SearchText5)">
                    </div>
                    <br /><br />
                    @{ Html.RenderPartial("_ListModelEngineTransmissionlist"); }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/app/controllers/MasterMgmt/ModelTrimEngineTransmission.js"></script>