

<table class="table table-striped table-bordered table-condensed bootstrap-datatable datatable">
    <thead>
        <tr>
            <th style="width:3%;">No</th>
            <th style="width:15%">Title</th>
            <th style="width:15%">Description</th>
            <th style="width:20%">Parent</th>
            <th style="width:10%">Page Type</th>
            <th style="width:15%">Page Image URL</th>
            <th style="width:10%">Slug</th>
            <th style="width:12%">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="o in list1 | filter:SearchText | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <td>   {{$index+1}} </td>
            <td>   {{o.Title}}  </td>
            <td>{{o.Description}} </td>
            <td>
                <select id="Parent" name="Parent" ng-model="o.Parent" class="form-control" disabled>
                    <option ng-repeat="o2 in list1" ng-selected="{{o2.id == o.Parent}}" value="{{o2.id}}">{{o2.Title}}</option>
                </select>
            </td>
            <td> {{o.PageType}}</td>
            <td> {{o.pageImageUrl}}</td>
            <td> {{o.Slug}}</td>
            <td class="center">
                <a href="#" class="btn btn-info" ng-click="FetchPageMgmtById(o)" ng-show="!o.LockStatus" title="Edit" data-rel="tooltip">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#" class="btn btn-danger" ng-really-message="Are you sure to Delete this Record ?" ng-really-click="DeletePageMgmt(o)" title="Delete" data-rel="tooltip">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="row show-hide-animation">
    <div class="col-md-12">
        <pagination page="currentPage" class="pull-right" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" data-boundary-links="true"></pagination>
    </div>
</div>
