@{
    ViewBag.Title = "Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        //	$('.col-exp.close').on('click', function(){
        $(document).on('click', '.col-exp.close', function () {
            $(this).attr('src', '/Areas/FrontTaps/Img/left.png');
            //		sval = $(this).parent('li').find('input[type="checkbox"]:first').val();
            sval = $('.form').serialize();
            //alert(sval);
            $(this).addClass('open');
            $(this).removeClass('close');
            $(this).parent('li').find('ul:first').show();
        })


        //	$('.col-exp.open').on('click', function(){
        $(document).on('click', '.col-exp.open', function () {
            sval = $('.form').serialize();
            //	alert(sval);
            $(this).attr('src', '/Areas/FrontTaps/Img/left.png');
            $(this).addClass('close');
            $(this).removeClass('open');
            $(this).parent('li').find('ul:first').hide();
        })
    });

</script>

<style type="text/css">
    .active {
        background-color: #8cc568;
        text-decoration: underline;
    }

    #nav a.active {
        background-color: #ee1c25;
        color: #fff;
    }

    .dropdown-components {
        height: 14px;
        width: 10px;
        margin: 0px 0px 0px 17px;
        -moz-margin-start: 8px;
    }
</style>
<style type="text/css">
    .close {
        background: url("/Areas/FrontTaps/Img/left.png") no-repeat 0 0;
    }

    .open {
        background: url("/Areas/FrontTaps/Img/left.png") no-repeat 0 0;
    }

    .open {
        background: none;
        -webkit-transform: rotate(90deg);
    }

    li {
        list-style: none;
    }
    /*img.col-exp.open {
        -webkit-transform: rotate(90deg);
    }*/
    /* selected link */

    .iconq:hover {
        display: inline-block;
    }

        .iconq:hover span {
            display: block;
        }
</style>

<div class="body-part">
    <div class="part-right">
        <input type="hidden" ng-model="model.SearchText" value="@ViewBag.SearchText" id="SearchText" />
        <div class="sub-menu">
            <ul>
                <li id="nav"><a href="/Parts/Parts" class="active">Select Parts</a></li>
                <li><a href="/Cart/ShoppingCart">Shopping Cart</a></li>
                <li><a href="/Address/DeliveryAddress">Delivery option</a></li>
                <li><a href="/OrderSummary/Index">Summary</a></li>
                <li><a href="#">Payment</a></li>
            </ul>
        </div>

        <div class="condition" style="margin-top: 60px;height: 22px;">
            <span class="condition">2. Select Car</span>
        </div>
        <div ng-controller="FilterCtrl">

            <div class="filter" ng-show="model.IdFilter==false">

                <div class="filter-left">

                    <div class="btn-group">
                        <select id="make" ng-model="model.Make" ng-change="FillModelData(model.Make)">
                            <option value="">-Make-</option>
                            <option ng-repeat="o in lstGetAllMake" ng-selected="model.Make == o.id" value="{{o.id}}">{{o.Make}}</option>
                        </select>
                        <select id="Model" ng-model="model.Model" ng-change="GetVehicles(model.Model)" ng-disabled="model.Make==0">
                            <option value="">-Model-</option>
                            <option ng-repeat="o in lstGetModel" ng-selected="model.Model == o.id" value="{{o.id}}">{{o.Name}}</option>
                        </select>
                        <select id="VehicleDetails" ng-model="model.VehicleDetails" ng-change="showFilter()" style="width: 122px">
                            <option value="">Your Vehicle(s)</option>
                            <option ng-repeat="vl in lstVehicle" ng-click="SetTrim(vl.idTrim)" ng-selected="model.VehicleDetails == vl.id" value="{{vl.id}}">{{vl.Make}}{{" "}}{{" "}}({{vl.ModelName}}){{" "}}{{vl.TrimName}}{{" "}}{{vl.EngineName}}(cc){{" "}}{{vl.TransmissionName}}</option>
                        </select>
                        <select id="year" ng-model="model.Year" ng-change="SetYear(model.Year)">
                            <option value="">-AnyYear-</option>
                            <option ng-repeat="o in lstYearData" ng-selected="model.Year == o.idYear" value="{{o.idYear}}">{{o.Year}}</option>
                        </select>
                        <span class="clear-filter"><a href="#" class="clear-filter" ng-click="Reset()">Clear Filter</a></span>
                        <span class="filt">
                            <a href="#" ng-hide="model.Year == ''" ng-click="FilterLeftMenu()">FILTER</a>
                        </span>
                    </div>
                    <div style="margin-left:5px; margin-top:15px;">
                        <span style="font-size:12px;float:left;margin-top:5px;">Selected Vehicle :</span>
                        <div class="full-attribute city" style="background-color:white !important;color:black !important;margin-left:1%;">
                            <div class="attribute" ng-show="model.Year != ''" style="background-color:white !important;color:black !important;border-radius:15px;">
                                <div class="attribute-name" style="background-color:white !important;color:black !important;">
                                    <p ng-repeat="vl in lstVehicle" style="padding: 4px;color: black !important;font-size: 13px;" ng-show="model.VehicleDetails == {{vl.id}} && model.Year != ''"><i>{{vl.Make}}{{" "}}{{" "}}({{vl.ModelName}}){{" "}}{{vl.TrimName}}{{" "}}{{vl.EngineName}}(cc){{" "}}{{vl.TransmissionName}}{{" "}}{{model.YearName}}</i></p>
                                </div>
                                <div class="close-attribute">
                                    <input type="button" style="border: none;margin-right:2px" value="x" ng-click="Reset()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="select" ng-controller="FilterCtrl">

            <div class="ex" style="margin-top: 10px;">
                <div class="exampale">
                    <form id="tfnewsearch" method="get" action="">
                        <input type="text" class="sel-search" name="q" size="21" maxlength="120" placeholder="Example:BJR9022" ng-model="model.RegistrationNumber">
                    </form>
                </div>
                <div class="clear" style="clear: both;"></div>
                <div class="sel"> <a href="#" ng-click="SelectVehicle()">SELECT</a> </div>
            </div>
            <div class="lorem1"> <span>Select from dropdown or enter your vehicle registration number to select your vehicle model, year, cc.</span> </div>
            <div class="add">
                <img ng-src="{{RightBanner}}" />
            </div>
        </div>

        <!--New-->

        <div ng-controller="PartsCtrl">
            <div class="condition" style="margin-top: 100px; height: 22px; width: 630px;">
                <span class="condition">3. Select Components</span>
            </div>
            <div class="filter">
                <div class="clear"></div>
                <div>
                    <div class="part-one">
                        <div class="list" id="pcontainer">
                            <div class="filter-left">

                                <div class="btn-group">
                                    @*<select id="Parts" style="width: 180px;">
                                            <option value="" ng-selected="true">Select Components</option>
                                        </select>*@
                                    <button class="sel-components">
                                        <i style="font-size: 13px; font-style:normal">
                                            Select Components &nbsp;
                                        </i>
                                        <img ng-src="~/assets/img/arrow_drop_down.png" class="dropdown-components" />
                                    </button>
                                </div>
                            </div>
                            @*<div style="padding-top: 10px !important">
                                    <h3 style="color:white;float:left">Choose Component</h3>
                                    <img src="~/assets/img/arrow-216-32.png" style="padding-top: 14px; margin-left: 4px;" id="Parts" />
                                </div>*@
                        </div>
                        <input type="text" ng-model="model.SearchText" size="21" maxlength="120" class="sel-search" style="height: 19px; width: 270px; margin-top: 20px;">
                        <input type="submit" value="SEARCH" class="tfbutton" ng-click="FilterLeftMenu(1,20)" style="font-size: 15px; height: 34px; padding: 0px 0px;">


                        @*<div class="search" style="padding-top: 10px !important">
                                <input type="text" class="tftextinput" ng-model="model.SearchText" size="21" maxlength="120">
                                <input type="submit" value="SEARCH!" class="tfbutton" ng-click="FilterLeftMenu(1,20)">
                            </div>*@

                        <div class="fil-by" id="filterTaps" style="margin-left:5px">
                            <ul ng-controller="Ctrl" style="padding-bottom: 5px;">
                                <li><span style="color:black; font-weight:bold">Filtered By :</span></li>
                                <li ng-repeat="itm in items">
                                    <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="itm.value==true">
                                        <i style="font-size: 13px;">{{itm.name}} &nbsp;<input type="button" style="border: none;" value="x" ng-click="saveItems(items)" /></i>
                                    </a>
                                </li>
                                <li ng-repeat="o in conditions">
                                    <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="o.value==true">
                                        <i style="font-size: 13px;">{{o.name}} &nbsp;<input type="button" style="border: none;" value="x" ng-click="saveSetting(o)" /></i>
                                    </a>
                                </li>
                                <li ng-repeat="othr in others">
                                    <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="othr.value==true">
                                        <i style="font-size: 13px;">{{othr.name}} &nbsp;&nbsp;<input type="button" style="border: none;" value="x" ng-click="saveOthers(othr)" /></i>
                                    </a>
                                </li>
                                <li>
                                    <i ng-repeat="c in componentID"><a href="#" class="white-tag">{{c.name}} &nbsp;&nbsp;<input type="button" style="border: none;" value="x" ng-click="ClearFilter(c)" /></a></i>
                                </li>
                                <li ng-controller="Ctrl" ng-show="RM != null || To != null">
                                    <a href="#" class="white-tag" ng-if="RM == null">
                                        Max Price {{To}} &nbsp;&nbsp;
                                        <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                    </a>
                                    <a href="#" class="white-tag" ng-if="To == null">
                                        Min Price {{RM}} &nbsp;&nbsp;
                                        <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                    </a>
                                    <a href="#" class="white-tag" ng-if="RM != null && To != null">
                                        RM {{RM}} to {{To}} &nbsp;&nbsp;
                                        <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="component" ng-controller="FilterCategoryCtrl" id="ppcontainer" style="visibility:hidden;  top:470px">
                        <div id="phello" style="visibility:hidden;">
                            <form class="form">
                                <div class="com-list1">
                                    <span>Body Group</span>
                                    <div class="component-chec">
                                        <ul>
                                            <li id="li{{data.id}}" ng-repeat="data in list1" ng-if="data.idParent==null && data.idCategory==15">
                                                <input type="checkbox" id="Check{{data.id}}" name="Check{{data.id}}" value="{{data.id}}" />
                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class=" col-exp close" ng-show="ParentList1(data.id)">
                                                <b>{{data.Name}}</b>
                                                <ul style="display: none;" ng-show="ParentList1(data.id)">
                                                    <li ng-repeat="data1 in list1" ng-if="data.id==data1.idParent">
                                                        <input type="checkbox" id="Check{{data1.id}}" name="Check{{data1.id}}" value="{{data1.id}}" />
                                                        <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList1(data1.id)">
                                                        <b>{{data1.Name}}</b>
                                                        <ul style="display: none;" ng-show="ParentList1(data1.id)">
                                                            <li ng-repeat="data2 in list1" ng-if="data1.id==data2.idParent">
                                                                <input type="checkbox" id="Check{{data2.id}}" name="Check{{data2.id}}" value="{{data2.id}}" />
                                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList1(data2.id)">
                                                                <b>{{data2.Name}}</b>
                                                                <ul style="display: none;" ng-show="ParentList1(data2.id)">
                                                                    <li ng-repeat="data3 in list1" ng-if="data2.id==data3.idParent">
                                                                        <input type="checkbox" id="Check{{data3.id}}" name="Check{{data3.id}}" value="{{data3.id}}" />
                                                                        <b>{{data3.Name}}</b>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="com-list2" ng-click="OpenPopup()">
                                    <span>Electrical Group</span>
                                    <div class="component-chec">
                                        <ul>
                                            <li id="li{{data.id}}" ng-repeat="data in list2" ng-if="data.idParent==null && data.idCategory==16">
                                                <input type="checkbox" id="Check{{data.id}}" name="Check{{data.id}}" value="{{data.id}}" />
                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class=" col-exp close" ng-show="ParentList2(data.id)">
                                                <b>{{data.Name}}</b>
                                                <ul style="display: none;" ng-show="ParentList2(data.id)">
                                                    <li ng-repeat="data1 in list2" ng-if="data.id==data1.idParent">
                                                        <input type="checkbox" id="Check{{data1.id}}" name="Check{{data1.id}}" value="{{data1.id}}" />
                                                        <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList2(data1.id)">
                                                        <b>{{data1.Name}}</b>
                                                        <ul style="display: none;" ng-show="ParentList2(data1.id)">
                                                            <li ng-repeat="data2 in list2" ng-if="data1.id==data2.idParent">
                                                                <input type="checkbox" id="Check{{data2.id}}" name="Check{{data2.id}}" value="{{data2.id}}" />
                                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList2(data2.id)">
                                                                <b>{{data2.Name}}</b>
                                                                <ul style="display: none;" ng-show="ParentList2(data2.id)">
                                                                    <li ng-repeat="data3 in list2" ng-if="data2.id==data3.idParent">
                                                                        <input type="checkbox" id="Check{{data3.id}}" name="Check{{data3.id}}" value="{{data3.id}}" />
                                                                        <b>{{data3.Name}}</b>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--asdasd-->
                                <div class="com-list3" ng-click="OpenPopup()">
                                    <span>Engine, Fuel Group</span>
                                    <div class="component-chec">
                                        <ul>
                                            <li id="li{{data.id}}" ng-repeat="data in list3" ng-if="data.idParent==null && data.idCategory==17">
                                                <input type="checkbox" id="Check{{data.id}}" name="Check{{data.id}}" value="{{data.id}}" />
                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class=" col-exp close" ng-show="ParentList3(data.id)">
                                                <b>{{data.Name}}</b>
                                                <ul style="display: none;" ng-show="ParentList3(data.id)">
                                                    <li ng-repeat="data1 in list3" ng-if="data.id==data1.idParent">
                                                        <input type="checkbox" id="Check{{data1.id}}" name="Check{{data1.id}}" value="{{data1.id}}" />
                                                        <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList3(data1.id)">
                                                        <b>{{data1.Name}}</b>
                                                        <ul style="display: none;" ng-show="ParentList3(data1.id)">
                                                            <li ng-repeat="data2 in list3" ng-if="data1.id==data2.idParent">
                                                                <input type="checkbox" id="Check{{data2.id}}" name="Check{{data2.id}}" value="{{data2.id}}" />
                                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList3(data2.id)">
                                                                <b>{{data2.Name}}</b>
                                                                <ul style="display: none;" ng-show="ParentList3(data2.id)">
                                                                    <li ng-repeat="data3 in list3" ng-if="data2.id==data3.idParent">
                                                                        <input type="checkbox" id="Check{{data3.id}}" name="Check{{data3.id}}" value="{{data3.id}}" />
                                                                        <b>{{data3.Name}}</b>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="com-list4" ng-click="OpenPopup()">
                                    <span>Power Train, Chassis Group</span>
                                    <div class="component-chec">
                                        <ul>
                                            <li id="li{{data.id}}" ng-repeat="data in list4" ng-if="data.idParent==null && data.idCategory==18">
                                                <input type="checkbox" id="Check{{data.id}}" name="Check{{data.id}}" value="{{data.id}}" />
                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class=" col-exp close" ng-show="ParentList4(data.id)">
                                                <b>{{data.Name}}</b>
                                                <ul style="display: none;" ng-show="ParentList4(data.id)">
                                                    <li ng-repeat="data1 in list4" ng-if="data.id==data1.idParent">
                                                        <input type="checkbox" id="Check{{data1.id}}" name="Check{{data1.id}}" value="{{data1.id}}" />
                                                        <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList4(data1.id)">
                                                        <b>{{data1.Name}}</b>
                                                        <ul style="display: none;" ng-show="ParentList4(data1.id)">
                                                            <li ng-repeat="data2 in list4" ng-if="data1.id==data2.idParent">
                                                                <input type="checkbox" id="Check{{data2.id}}" name="Check{{data2.id}}" value="{{data2.id}}" />
                                                                <img ng-src="~/Areas/FrontTaps/Img/left.png" class="col-exp close" ng-show="ParentList4(data2.id)">
                                                                <b>{{data2.Name}}</b>
                                                                <ul style="display: none;" ng-show="ParentList4(data2.id)">
                                                                    <li ng-repeat="data3 in list4" ng-if="data2.id==data3.idParent">
                                                                        <input type="checkbox" id="Check{{data3.id}}" name="Check{{data3.id}}" value="{{data3.id}}" />
                                                                        <b>{{data3.Name}}</b>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--New end-->
            <div>
                <div class="clear"></div>
                @*<div class="fil-by" id="filterTaps">
                        <ul ng-controller="Ctrl">
                            <li><span>Filtered By :</span></li>
                            <li ng-repeat="itm in items">
                                <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="itm.value==true">
                                    <i>{{itm.name}} &nbsp;<input type="button" style="border: none;" value="x" ng-click="saveItems(items)" /></i>
                                </a>
                            </li>
                            <li ng-repeat="o in conditions">
                                <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="o.value==true">
                                    <i>{{o.name}} &nbsp;<input type="button" style="border: none;" value="x" ng-click="saveSetting(o)" /></i>
                                </a>
                            </li>
                            <li ng-repeat="othr in others">
                                <a href="#" class="white-tag" ng-model="model.clear" ng-click="Clear()" ng-show="othr.value==true">
                                    <i>{{othr.name}} &nbsp;&nbsp;<input type="button" style="border: none;" value="x" ng-click="saveOthers(othr)" /></i>
                                </a>
                            </li>
                            <li>
                                <i ng-repeat="c in componentID"><a href="#" class="white-tag">{{c.name}} &nbsp;&nbsp;<input type="button" style="border: none;" value="x" ng-click="ClearFilter(c)" /></a></i>
                            </li>
                            <li ng-controller="Ctrl" ng-show="RM != null || To != null">
                                <a href="#" class="white-tag" ng-if="RM == null">
                                    Max Price {{To}} &nbsp;&nbsp;
                                    <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                </a>
                                <a href="#" class="white-tag" ng-if="To == null">
                                    Min Price {{RM}} &nbsp;&nbsp;
                                    <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                </a>
                                <a href="#" class="white-tag" ng-if="RM != null && To != null">
                                    RM {{RM}} to {{To}} &nbsp;&nbsp;
                                    <input type="button" style="border: none;" value="x" ng-click="ClearRM()" />
                                </a>
                            </li>
                        </ul>
                    </div>*@
                <div class="result" style="min-height: 500px; height: auto !important;">
                    <div class="sort">
                        <div class="sort1">
                            <span>{{pager.Total}} RESULT(S):</span>
                        </div>
                        <div class="sort2">
                            <span>Display per page <a href="" ng-click="ChangePage(20)">20</a> <a href="" ng-click="ChangePage(50)">50</a> <a href="" ng-click="ChangePage(100)">100</a> <a href="" ng-click="ChangePage(0)">All</a></span>
                        </div>
                        <div class="sort3">
                            <div class="wish-filter">
                                <ul>
                                    <li class="filter-drop">
                                        <span>Sort by &#8744;</span>
                                        <div class="filter-drop-block">
                                            <div class="inner-block condi" style="width:80px">
                                                <ul class="condi-list">
                                                    <li><a href="#" ng-click="DoSorting('Name')">Product</a></li>
                                                    <li><a href="#" ng-click="DoSorting('Condition')">Condition</a></li>
                                                    <li><a href="#" ng-click="DoSorting('SalePrice')">Price</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="addto" ng-repeat="o in lstParts">
                        <div class="add-img">
                            <img ng-src="~/MediaUploads/{{o.ImageUrl}}" err-src="~/assets/img/no_image.jpg" ng-model="model.ImageUrl" alt="No Image" width="135px" height="135px" />
                        </div>
                        <div class="add-con">
                            <div class="cart-name">
                                <span><a href="/ProductDetail/Index/{{o.id}}" style="color: black; text-decoration: initial !important;"><b>{{o.Name.trim()}}</b></a><br />{{o.Description}}</span>
                            </div>
                            <div class="cart-de">
                                <ul>
                                    <li><b>Quality</b> : {{o.Condition}}.</li>
                                    <li><b>Warranty Period</b> : {{o.Warranty}} month(s).</li>
                                    @if (ViewContext.HttpContext.User.IsInRole("Workshop"))
                                    {
                                        <li><b>Price</b> : <b style="width: 180px !important;"> RM {{o.SalePrice | number:2}} (RM {{o.WorkshopPrice | number:2}})</b></li>
                                    }
                                    else
                                    {
                                        <li><b>Price</b> : <b style="width: 180px !important;"> RM {{o.SalePrice | number:2}}</b></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="add-cart">
                            <div class="addtocart">
                                @if (User.Identity.Name != string.Empty)
                                {
                                    <a href="" ng-click="AddtoCart(o.id)">
                                        ADD TO CART
                                    </a>
                                }
                                else
                                {
                                    <a href="" ng-click="AddtoCookie(o)">
                                        ADD TO CART
                                    </a>
                                }
                            </div>
                            <div class="soldby" ng-show="o.Vendor != null">
                                <span>Sold by : <a href="">{{o.Vendor}}</a></span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="pagenation" id="pagenation">
                        <ul style="cursor:pointer">
                            <pagination class="pull-right" data-boundary-links="true" page="pager.PageNum"
                                        total-items="pager.Total"
                                        items-per-page="pager.PageSize"
                                        max-size="10"
                                        on-select-page="FilterLeftMenu(page)"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        first-text="&laquo;" last-text="&raquo;"></pagination>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="next">
                        <a href="" ng-click="Next()">NEXT</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script src="~/Areas/FrontTaps/app/controllers/CategoryMgmt/FilterCategory.js"></script>
<script src="~/Areas/FrontTaps/app/controllers/Parts/Parts.js"></script>
<script src="~/Areas/FrontTaps/app/controllers/Filter/Filter.js"></script>