@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/FrontTaps/Views/Shared/_Layout.cshtml";
}

<script src="~/app/controllers/Order/Order.js"></script>

<div ng-controller="OrderCtrl">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="fa fa-user"></i><span class="break"></span>Order Overview</h2>
                        <div class="box-icon">
                            <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="OrderInfoTab" role="presentation" class="active"><a href="#OrderInfo" aria-controls="OrderInfo" ng-click="OrderUpdate = 0" role="tab" data-toggle="tab">Order info</a></li>
                                <li id="OrderEditTab" ng-show="OrderUpdate == 1" role="presentation"><a href="#EditOrder" aria-controls="EditOrder" role="tab" data-toggle="tab">Edit Order</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="OrderInfo">
                                    <div class="box-content buttons">
                                        <p>
                                            <a class="btn" ng-click="GetAllOrder(0)">All</a>
                                            <a class="btn " ng-click="GetAllOrder(1)">On-hold</a>
                                            <a class="btn " ng-click="GetAllOrder(2)">Delivering Order</a>
                                            <a class="btn " ng-click="GetAllOrder(3)">Picking-up Order</a>
                                            <a class="btn " ng-click="GetAllOrder(4)">Ready to Collect</a>
                                            <a class="btn " ng-click="GetAllOrder(5)">Complete Delivery</a>
                                            <a class="btn " ng-click="GetAllOrder(6)">Mark Processing</a>
                                            <a class="btn " ng-click="GetAllOrder(7)">Mark No-Stock</a>
                                            @*<div class="btn-group">
                                                    <a class="btn " data-toggle="dropdown">Completed</a>
                                                    <button class="btn dropdown-toggle">  <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a ng-click="GetAllOrder(5)"> Delivered</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="GetAllOrder(4)">Canceled</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="GetAllOrder(6)"> Delivery failed </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a ng-click="GetAllOrder(7)"> Returned</a>
                                                        </li>
                                                    </ul>
                                                </div>*@
                                        </p>
                                    </div>
                                    <div class="box-content buttons">
                                        <div class="row">
                                            <div class="col-lg-7 col-sm-7">
                                                @*<p>
                                                        <select name="action_bulk" id="action_bulk_global" class="input-medium" ng-model="model.SelectedValue">
                                                            <option value="1">Print invoice for selected items</option>
                                                            <option value="2">Set To Ready to Ship</option>
                                                            <option value="3">Print Delivery List</option>
                                                            <option value="4">Print Tax Invoice Report</option>
                                                        </select>
                                                        <a class="btn btn-success" ng-click="GoOrder()" href="">
                                                            Go
                                                        </a>
                                                    </p>*@
                                            </div>
                                            <div class="col-lg-5 col-sm-5">
                                                <p>
                                                    <a class="btn" ng-click="ExportExcel()">Export All</a>

                                                    <input name="dateranger" id="daterange" ng-model="model.Date" class="form-control fa fa-calendar" style="width: 60%;">

                                                    <span class="input-group-addon"><i class="fa fa-times-circle" ng-click="ClearDate()"></i></span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                @*<th style="width:2%;"><input type="checkbox" id="chkFirst" ng-click="toggleSeleted()" style="height:20px;width:20px;" /></th>*@
                                                <th style="width:4%;"></th>
                                                <th style="width:6%;">Order No.</th>
                                                <th style="width:9%;">Customer</th>
                                                <th style="width:10%;">Order Date</th>
                                                @*<th style="width:10%;">Updated Date</th>*@
                                                <th style="width:12%;">Payment Method</th>
                                                <th style="width:12%;">Processing Charge</th>
                                                <th style="width:12%;">Shipping Cost</th>
                                                <th style="width:12%;">Total Amount</th>
                                                <th style="width:9%">Status</th>
                                                @*<th style="width:12%">Tracking Number</th>*@
                                                @*<th style="width:14%;">Actions</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in lstOrder" class="header">
                                                @*<td><input name="" type="checkbox" ng-checked="o.checked" ng-model="o.checked" value="{{o.id}}"></td>*@
                                                <td>

                                                    <a class="link" ng-click="ListProduct(o.id)" style="cursor:pointer">
                                                        Detail
                                                    </a>
                                                    <br ng-if="o.OrderStatusId != 1" />
                                                    <a class="link" @*ng-if="o.OrderStatusId != 1"*@ ng-click="PrintReport(o.id)">Invoice</a>
                                                    <br />
                                                    @*<a class="link" href="#EditOrder" aria-controls="EditOrder" role="tab" data-toggle="tab" ng-click="EditOrder(o)">Edit</a>*@

                                                </td>

                                                <td>{{o.id}}</td>
                                                <td>
                                                    {{o.CustomerName}}
                                                </td>
                                                <td class="center">{{o.CreatedOnUtc}}</td>
                                                @*<td class="center">{{o.ModifiedDate}}</td>*@
                                                <td class="center">
                                                    {{o.PaymentMethodSystemName}}
                                                    <br />
                                                    <button ng-show="(o.PaymentMethodSystemName == 'ATM Payment' || o.PaymentMethodSystemName == 'Direct Bank Transfer') && o.flgFileType == 'img'" type="button" data-toggle="modal" data-target="#ModalPaymentReceipt" class="btn btn-primary btn-sm" ng-click="GetImage(o.ImageUrl)">
                                                        <i class="fa fa-picture-o"></i>
                                                    </button>

                                                    <a style="color: #45a6e6" href="~/MediaUploads/PaymentReceipt/{{o.ImageUrl}}" target="_blank" ng-show="(o.PaymentMethodSystemName == 'ATM Payment' || o.PaymentMethodSystemName == 'Direct Bank Transfer') && o.flgFileType == 'pdf'">
                                                        View Attachment
                                                    </a>
                                                </td>
                                                <td class="center">RM {{o.PaymentMethodAdditionalFeeInclTax | number:2}}</td>
                                                <td class="center">RM {{o.OrderShippingInclTax | number:2}}</td>
                                                <td class="center">RM {{o.OrderTotal | number:2}}</td>
                                                <td class="center">{{o.Status}}</td>
                                                @*<td class="center" ng-if="o.TrackingNumber == null">
                                                        <a class="link" data-toggle="modal" ng-show="o.OrderStatusId == 2" data-target="#Track" ng-click="AddTrackNumber(o.id)">
                                                            [+ Add]
                                                        </a>
                                                    </td>
                                                    <td class="center" ng-if="o.TrackingNumber != null">
                                                        {{o.TrackingNumber}} <br /> {{o.Courier}}
                                                        <br />
                                                        <a class="link" data-toggle="modal" data-target="#Track" ng-click="UpdateTrackNumber(o.id,o.TrackingNumber,o.Courier)">
                                                            Update
                                                        </a>&nbsp;&nbsp;
                                                        <a class="link" ng-click="DeleteTrackNumber(o.id)">
                                                            Delete
                                                        </a>
                                                    </td>*@
                                                @*<td class="center">
                                                        <span ng-if="o.OrderStatusId == 1">
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(8,o.id)">
                                                                Approved
                                                            </a>
                                                        </span>
                                                        <span ng-if="o.OrderStatusId == 8">
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(2,o.id)">
                                                                Ready to Ship
                                                            </a>
                                                        </span>
                                                        <span ng-if="o.OrderStatusId == 2">
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(3,o.id)">
                                                                Shipped
                                                            </a>
                                                        </span>
                                                        <span ng-if="o.OrderStatusId == 3">
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(5,o.id)">
                                                                Delivered
                                                            </a>
                                                            <br />
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(6,o.id)">
                                                                Delivery failed
                                                            </a><br />
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(7,o.id)">
                                                                Returned
                                                            </a><br />

                                                        </span>
                                                        <span ng-if="o.OrderStatusId == 5 && o.OrderStatusId == 6 && o.OrderStatusId == 7 && o.OrderStatusId == 4">

                                                        </span>
                                                        <br />
                                                        <span ng-if="o.OrderStatusId != 5 && o.OrderStatusId != 6 && o.OrderStatusId != 7 && o.OrderStatusId != 4">
                                                            <a class="link" ng-click="UpdateVendorOrderStatus(4,o.id)">
                                                                Canceled
                                                            </a>
                                                        </span>
                                                        <br />
                                                    </td>*@
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <div role="tabpanel" class="tab-pane fade in " id="EditOrder">
                                    <div class="container">
                                        <br />

                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#Info">
                                                    <h4 class="panel-title">
                                                        Info
                                                    </h4>
                                                </div>
                                                <div id="Info" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <form role="form"
                                                              id="formInfo"
                                                              name="formInfo"
                                                              class="form-horizontal"
                                                              novalidate
                                                              ng-submit="formSubmit()">
                                                            <input type="hidden" value="{{modelInfo.id}}" ng-model="modelInfo.id" />
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Order No:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <b>{{modelInfo.id}}</b>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Customer:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        {{modelInfo.Customer}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Order Date:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        {{modelInfo.CreatedOnUtc}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Status:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        {{modelInfo.Status}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Sub Total <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="Price" name="Price" type="text" class="form-control" ng-blur="setOrderPrice()" ng-enter="setOrderPrice()" ng-required="true" money ng-model="modelInfo.OrderSubtotalInclTax">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Shipping Amount:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="Price" name="Price" type="text" class="form-control" ng-blur="setOrderPrice()" ng-enter="setOrderPrice()" money ng-model="modelInfo.OrderShippingInclTax">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Tax Amount:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="Price" name="Price" type="text" class="form-control" ng-blur="setOrderPrice()" ng-enter="setOrderPrice()" money ng-model="modelInfo.OrderTax">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Total Amount <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="Price" name="Price" type="text" class="form-control" ng-required="true" money ng-model="modelInfo.OrderTotal">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="form-actions">
                                                                <button type="button" class="btn btn-primary" ng-disabled="!formInfo.$valid" ng-click="UpdateOrderInfo(modelInfo)">Save</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#BillingInfo">
                                                    <h4 class="panel-title">
                                                        Billing Info
                                                    </h4>
                                                </div>
                                                <div id="BillingInfo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <form role="form"
                                                              id="formBillingInfo"
                                                              name="formBillingInfo"
                                                              class="form-horizontal"
                                                              novalidate
                                                              ng-submit="formSubmit()">
                                                            <input type="hidden" value="{{modelBillingInfo.id}}" ng-model="modelBillingInfo.id" />
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">First Name <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="FirstName" name="FirstName" type="text" class="form-control" ng-required="true" ng-model="modelBillingInfo.FirstName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Last Name <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="LastName" name="LastName" type="text" ng-required="true" class="form-control" ng-model="modelBillingInfo.LastName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Address 1 <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="Address1" name="Address1" type="text" ng-required="true" class="form-control" ng-model="modelBillingInfo.Address1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Address 2:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="Address2" name="Address2" type="text" class="form-control" ng-model="modelBillingInfo.Address2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">City <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="City" name="City" type="text" ng-required="true" class="form-control" ng-model="modelBillingInfo.City">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">State <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <select id="idState" ng-model="modelBillingInfo.idState" class="form-control" ng-required="true">
                                                                                <option value="">-Select State-</option>
                                                                                <option ng-repeat="o in lstState" ng-selected="modelBillingInfo.idState==o.id" value="{{o.id}}">{{o.Name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Country <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">

                                                                        {{modelBillingInfo.CountryName}}

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Postcode <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="PostCode" name="PostCode" type="text" ng-required="true" class="form-control" ng-model="modelBillingInfo.PostCode">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Company Name:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="CompanyName" name="CompanyName" type="text" class="form-control" ng-model="modelBillingInfo.CompanyName">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Email <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="Email" name="Email" type="email" class="form-control" ng-required="true" ng-model="modelBillingInfo.Email">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Phone No <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="PhoneNo" name="PhoneNo" type="text" ng-required="true" numbers-only class="form-control" ng-model="modelBillingInfo.PhoneNo">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="form-actions">
                                                                <button type="button" class="btn btn-primary" ng-disabled="!formBillingInfo.$valid" ng-click="UpdateBillingInfo(modelBillingInfo)">Save</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#ShippingInfo">
                                                    <h4 class="panel-title">
                                                        Shipping Info
                                                    </h4>
                                                </div>
                                                <div id="ShippingInfo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <form role="form"
                                                              id="formShippingInfo"
                                                              name="formShippingInfo"
                                                              class="form-horizontal"
                                                              novalidate
                                                              ng-submit="formSubmit()">
                                                            <input type="hidden" value="{{modelShippingInfo.id}}" ng-model="modelShippingInfo.id" />
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">First Name <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="FirstName" name="FirstName" type="text" ng-required="true" class="form-control" ng-model="modelShippingInfo.ShippFirstName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Last Name <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="LastName" name="LastName" type="text" ng-required="true" class="form-control" ng-model="modelShippingInfo.ShippLastName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Address 1 <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="Address1" name="Address1" type="text" ng-required="true" class="form-control" ng-model="modelShippingInfo.ShippAddress1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Address 2:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <input id="Address2" name="Address2" type="text" class="form-control" ng-model="modelShippingInfo.ShippAddress2">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">City <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="City" name="City" type="text" ng-required="true" class="form-control" ng-model="modelShippingInfo.ShippidCity">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">State <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <select id="idState" ng-model="modelShippingInfo.ShippidState" class="form-control" ng-required="true">
                                                                                <option value="">-Select State-</option>
                                                                                <option ng-repeat="o in lstState" ng-selected="modelShippingInfo.ShippidState==o.id" value="{{o.id}}">{{o.Name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Country <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            {{modelShippingInfo.ShippCountry}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Postcode <span class="red"> * </span> :</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="PostCode" name="PostCode" type="text" ng-required="true" class="form-control" ng-model="modelShippingInfo.ShippPostCode">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-sm-2">
                                                                        <label class="control-label">Company Name:</label>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-3">
                                                                        <div class="input">
                                                                            <input id="CompanyName" name="CompanyName" type="text" class="form-control" ng-model="modelShippingInfo.ShippCompanyName">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div class="form-actions">
                                                                <button type="button" class="btn btn-primary" ng-disabled="!formShippingInfo.$valid" ng-click="UpdateShippingInfo(modelShippingInfo)">Save</button>
                                                            </div>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" style="cursor:pointer" data-toggle="collapse" data-target="#Products">
                                                    <h4 class="panel-title">
                                                        Products
                                                    </h4>
                                                </div>
                                                <div id="Products" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <table class="table table-striped table-bordered table-condensed bootstrap-datatable datatable">
                                                            <thead>
                                                                <tr>
                                                                    <th>index</th>
                                                                    <th>Product</th>
                                                                    <th>Quantity</th>
                                                                    <th>Price</th>
                                                                    <th>Total Price</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="o in lstUserOrderDetail">
                                                                    <td>
                                                                        {{$index+1}}
                                                                    </td>
                                                                    <td>
                                                                        {{o.ProductName}}<div class="product-size" style="margin-left: 25px;" ng-repeat="o1 in o.lstAttribute">{{o1.Name}} : <span>{{o1.Value}}</span></div>
                                                                    </td>
                                                                    <td>
                                                                        {{o.Quantity}}
                                                                    </td>
                                                                    <td>
                                                                        RM {{o.UnitPriceInclTax | number:2}}
                                                                    </td>
                                                                    <td>
                                                                        RM {{o.PriceInclTax | number:2}}
                                                                    </td>
                                                                    <td class="center">
                                                                        <a href="#" class="btn btn-info" ng-click="FetchOrderDetailInfo(o)" title="Edit" data-rel="tooltip">
                                                                            <i class="fa fa-edit"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>

        <div id="ModalPaymentReceipt" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="myModalLabelLarge" class="modal-title">Payment Receipt</h4>
                    </div>
                    <div class="modal-body">
                        <img ng-src="~/MediaUploads/Paymentreceipt/{{model.ImageUrl}}" class="img-polaroid" ng-model="model.ImageUrl" style="height:100%;width:100%" alt="No Image" />

                    </div>
                    @*<div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Order" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Order Detail</h2>
                </div>
                <div class="modal-body">
                    <form role="form"
                          id="form1"
                          name="form1"
                          class="form-horizontal"
                          ng-submit="formSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <table class="table table-striped table-bordered table-condensed bootstrap-datatable datatable">
                                    <thead>
                                        <tr>
                                            <th>index</th>
                                            <th>Vendor</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="o in lstUserOrderDetail">
                                            <td>
                                                {{$index+1}}
                                            </td>
                                            <td>
                                                {{o.Vendor}}
                                            </td>
                                            <td>
                                                {{o.ProductName}}<div style="margin-left: 10px;" ng-repeat="o1 in o.lstAttribute">{{o1.Name}} : <span>{{o1.Value}}</span></div>
                                            </td>
                                            <td>
                                                {{o.Quantity}}
                                            </td>
                                            <td>
                                                RM {{o.UnitPriceInclTax | number:2}}
                                            </td>
                                            <td>
                                                RM {{o.PriceInclTax | number:2}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3><b>Billing Address</b></h3>
                                    <p>{{lstUserOrderDetail[0].CustomerName}}</p>
                                    {{lstUserOrderDetail[0].BillingAddress}}<br /><br />
                                    <p>Username : {{lstUserOrderDetail[0].CustomerName}}</p>
                                    <p>PhoneNo : {{lstUserOrderDetail[0].PhoneNo}}</p>
                                    <p>Email : {{lstUserOrderDetail[0].CustomerEmail}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <h3><b>Shipping Address</b></h3>
                                    <p>{{lstUserOrderDetail[0].CustomerName}}</p>
                                    {{lstUserOrderDetail[0].ShippingAddress}}
                                </div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="Track" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Add Tracking Number</h2>
                </div>
                <div class="modal-body">
                    <form role="form"
                          id="form4"
                          name="form4"
                          class="form-horizontal"
                          ng-submit="formSubmit()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <label class="control-label">Track Number <span class="red"> * </span> </label>
                                </div>
                                <div class="col-lg-7 col-sm-7">
                                    <input id="TrackNumber" name="TrackNumber" type="text" class="form-control" ng-required="true" ng-model="model.TrackingNumber">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">
                                    <label class="control-label">Courier Service <span class="red"> * </span></label>
                                </div>
                                <div class="col-lg-7 col-sm-7">
                                    <select id="Courier" name="Courier" ng-model="model.Courier" class="form-control" ng-required="true">
                                        <option value="">-- Select Courier Service--</option>
                                        <option ng-repeat="o in CourierList" value="{{o.Name}}">{{o.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-sm-4">

                                </div>
                                <div class="col-lg-7 col-sm-7">
                                    <button type="button" class="btn btn-primary" ng-disabled="!form4.$valid" ng-click="SaveTrackNumber(model)">Save</button>
                                    <button type="reset" class="btn" ng-click="ResetTrack()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="OrderDetailEdit" aria-hidden="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h2 class="modal-title">Order Detail</h2>
                </div>
                <div class="modal-body">
                    <form role="form"
                          id="formOrderDetailInfo"
                          name="formOrderDetailInfo"
                          class="form-horizontal"
                          novalidate
                          ng-submit="formSubmit()">
                        <input type="hidden" value="{{modelOrderDetailInfo.id}}" ng-model="modelOrderDetailInfo.id" />

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <label class="control-label">Product Name:</label>
                                </div>
                                <div class="col-lg-7 col-sm-7">
                                    {{modelOrderDetailInfo.ProductName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="o in modelOrderDetailInfo.lstAttribute">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <label class="control-label">{{o.Name}}:</label>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    {{o.Value}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <label class="control-label">Quantity <span class="red"> * </span> :</label>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="input">
                                        <input id="Quantity" name="Quantity" type="text" ng-blur="setOrderDetailPrice()" ng-enter="setOrderDetailPrice()" class="form-control" ng-required="true" numbers-only ng-model="modelOrderDetailInfo.Quantity">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <label class="control-label">Unit Price <span class="red"> * </span> :</label>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="input">
                                        <input id="UnitPriceInclTax" name="UnitPriceInclTax" ng-blur="setOrderDetailPrice()" ng-enter="setOrderDetailPrice()" type="text" class="form-control" money ng-model="modelOrderDetailInfo.UnitPriceInclTax">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-2 col-sm-2">
                                    <label class="control-label">Price <span class="red"> * </span> :</label>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <div class="input">
                                        <input id="PriceInclTax" name="PriceInclTax" type="text" class="form-control" money ng-model="modelOrderDetailInfo.PriceInclTax">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="form-actions">
                            <button type="button" class="btn btn-primary" ng-disabled="!formOrderDetailInfo.$valid" ng-click="UpdateOrderDetailInfo(modelOrderDetailInfo)">Save</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/dataTables.bootstrap.min.js"></script>
<style>
    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 30px;
        width: 30px;
        display: inline-table;
    }

    .link {
        color: #4e71c0;
        text-decoration: underline;
        line-height: 200%;
        cursor: pointer;
    }

    /*table, tr, td, th {
        border: 1px solid black;
        border-collapse: collapse;
    }

        tr.header {
            cursor: pointer;
        }*/
</style>

