
@{
    ViewBag.Title = "RecommendedComponentMgmt";
    Layout = "~/Areas/FrontTaps/Views/Shared/_Layout.cshtml";
}



<div ng-controller="RecommendedComponentCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span>Recommended Component</h2>
                    <div class="box-icon">
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="col-lg-1">
                        <h4><b>Vendor :</b></h4>
                    </div>
                    <div class="col-lg-3">                     
                            <select id="Vendor" name="Vendor" ng-model="model.idVendor" class="form-control">
                                <option value="">--Select--</option>
                                <option ng-repeat="o in Venderlist" value="{{o.id}}">{{o.UserName}}</option>
                            </select>                       
                    </div>
                    <div class="col-lg-1">
                       <h4><b>Status :</b></h4>
                    </div>
                    <div class="col-lg-3">
                        <select id="Status" name="Status" ng-model="model.Flag" class="form-control">                           
                            <option value="">Show All</option>
                            <option value="true">Approved</option>
                            <option value="false">Not Approved</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-primary" ng-click="GetRecommendedComponentList()">Search</button>
                    </div>
                    <br /><br />
                    @{ Html.RenderPartial("_ListRecommendedComponentlist"); }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/app/controllers/RecommendedComponenrMgmt/RecommendedComponent.js"></script>