<footer>
   <p>
      <span style="text-align: left; float: left">&copy; Copyright 2016 - TAPS<a href="#"> </a> </span>
      <span class="hidden-phone" style="text-align: right; float: right">version : <a href="#" alt="Assembly Version">@ViewContext.Controller.GetType().Assembly.GetName().Version </a></span>
   </p>
</footer>