<a href="#" class="btn btn-info" ng-click="details(o)">
   <i class="fa fa-edit"></i>
</a>
<a href="#" class="btn btn-danger" ng-really-message="Do you want to delete? Please press OK button to proceed." ng-really-click="deleteItem(o)">
   <i class="fa fa-trash-o"></i>
</a>    