@{
    ViewBag.Title = "ForgotPassword";
}

<link href="~/Areas/TapsAdmin/Css/style.css" rel="stylesheet" />
<link href="~/assets/css/toastr.min.css" rel="stylesheet" />

<script src="~/assets/js/jquery-2.1.0.min.js"></script>
<script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Areas/TapsAdmin/js/modenizr.js"></script>
<script src="~/Areas/TapsAdmin/js/jquery.royalslider.min.js"></script>
<script src="~/assets/js/pages/form-dropzone.js"></script>
<script src="~/assets/js/dropzone.min.js"></script>

@* custom angular *@
<script src="~/assets/angular-1.2.9/angular.min.js"></script>
<script src="~/assets/angular-1.2.9/angular-cookies.js"></script>
<script src="~/assets/angular-1.2.9/ngDraggable.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>
<script src="~/assets/angular-1.2.9/angular-route.min.js"></script>
<script src="~/assets/angular-1.2.9/angular-sanitize.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="~/assets/js/jquery-ui-1.10.3.min.js"></script>

@* custom 3rd party *@
<script src="~/assets/js/toastr.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/underscore-min.js"></script>
<script src="~/assets/js/jquery.blockUI.js"></script>

<script src="~/Areas/TapsAdmin/app/app.js"></script>
<script src="~/Areas/TapsAdmin/app/utils.js"></script>
<script src="~/Areas/TapsAdmin/app/route.js"></script>
<script src="~/Areas/TapsAdmin/app/services.js"></script>

<script src="~/Areas/TapsAdmin/app/createDialog.js"></script>
<script src="~/Areas/TapsAdmin/app/appInterceptor.js"></script>
<script src="~/Areas/TapsAdmin/app/directives/ng-really.js"></script>
<script src="~/Areas/TapsAdmin/app/angular-local-storage.min.js"></script>
<script src="~/Areas/TapsAdmin/js/default.js"></script>
<style type="text/css">
    .chklabel {
        text-indent: -32px;
        display: block;
        padding-left: 32px;
    }

    .toast-top-center {
        top: 12px;
        margin: 0 auto;
        left: 50%;
        margin-left: -150px;
    }
</style>
<script>

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": 0,
        "extendedTimeOut": 0,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "tapToDismiss": true
    }
</script>


<div ng-app="TapsAdmin">
    <div class="main-body" ng-controller="ForgotCtrl">
        <div class="body-padding-login">
            <div id="tab-container" class='tab-container yellow'>
                <div class="login-box">
                    <form class="sign-form ng-dirty ng-valid ng-valid-required" id="form" name="form" novalidate="novalidate">
                        <div class="signup">
                            <a href="" style="float: left;">Forgot Password</a>
                        </div>
                        <div class="loginerror">
                            <span class="control-label" style="color: red; font-family: serif; font-weight: 700;">
                            </span>
                        </div>
                        <div class="mail">
                            <div class="password" style="width:10%">
                                <span>Email</span>
                                <div id="tfnewsearch">
                                    <input type="email" id="Email" ng-model="model.Email" class="email-coman" ng-required="true">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="sign-last">
                            <div class="have-account">

                            </div>
                            <br>
                            <div class="clear"></div>
                            <div class="have-account">
                                <span>Have Account ?<a href="/TapsAdmin/TapsManage/Index">Login</a></span>
                            </div>
                            <div class="signup">
                                <a class="login-btn" ng-disabled="!form.$valid" name="Send" ng-click="ResetPassword()" style="cursor:pointer">Send</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


<script src="~/Areas/TapsAdmin/app/controllers/TapsManage/ForgotPassword.js"></script>
<style>
    .signup > a:disabled {
        background: #dddddd;
        pointer-events:none;
        /*color: #fff;
        padding: 6px 12px 7px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 10px;*/
    }
</style>